@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    font-family: 'Press Start 2P', sans-serif;
    font-size: 12px;
}

button {
    font-family: 'Press Start 2P', sans-serif;
    font-size: 10px;
}

.logo {
    width: 200px;
    height: 80px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.innerContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20%;
}

.fightButton {
    margin-left: 40%;
}